<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of products</title>
    <link rel="stylesheet" href="/assets/css/upload.css">
    <style>
        .fl {
            float: left;
        }
    </style>
    <th:block th:replace="layout/head"/>
</head>
<body>
    <div class="main-container">
        <header>
            <div class="row">
                <div class="col-sm-5">
                    <h1>List of products</h1>
                </div>
                <div class="col-sm-6">
                    <button id="btnShowCreateModal" class="btn btn-outline-light">
                        <i class="fas fa-plus"></i>
                        <span>Add New Product</span>
                    </button>
                </div>
                <div class="btn-group col-sm-1">
                    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 50%">
                        <i class="far fa-address-card"></i>
                        <th:block th:text="${username}"/>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/">Home</a></li>
                        <li><a class="dropdown-item" href="/users">List of User</a></li>
                        <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="content">
            <input type="hidden" id="currentRow">
            <table id="tbProduct" class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name Product</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Describe</th>
                    <th>Avatar</th>
                    <th colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div id="footer" class="footer"></div>

    <th:block th:replace="/product/modalCreate :: modalCreate"/>
    <th:block th:replace="/product/modalUpdate :: modalUpdate"/>

    <th:block th:replace="layout/script" />

<script>

    let page = {
        urls: {
            getAllProducts: App.BASE_URL_PRODUCT,
            getProductById: App.BASE_URL_PRODUCT,
            create: App.BASE_URL_PRODUCT + "/create",
            update: App.BASE_URL_PRODUCT + "/update",
            delete: App.BASE_URL_PRODUCT + "/delete/"
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
        },
        initializeEventControl: {}
    }

    let avatar = new Avatar();
    let product = new Product();

    page.elements.tbProduct = $("#tbProduct tbody");
    page.elements.btnShowCreateModal = $("#btnShowCreateModal");
    page.elements.modalCreate = $("#modalCreate");
    page.elements.modalUpdate = $("#modalUpdate");

    page.dialogs.elements.frmCreate = $("#frmCreate");
    page.dialogs.elements.nameCre = $("#nameCre");
    page.dialogs.elements.amountCre = $("#amountCre");
    page.dialogs.elements.priceCre = $("#priceCre");
    page.dialogs.elements.descriptionCre = $("#descriptionCre");
    page.dialogs.elements.btnCreate = $("#btnCreate");

    page.dialogs.elements.frmUpdate = $("#frmUpdate");
    page.dialogs.elements.nameUp = $("#nameUp");
    page.dialogs.elements.amountUp = $("#amountUp");
    page.dialogs.elements.priceUp = $("#priceUp");
    page.dialogs.elements.descriptionUp = $("#descriptionUp");
    page.dialogs.elements.btnUpdate = $("#btnUpdate");

    page.dialogs.elements.wrapper = $("section .wrapper");
    page.dialogs.elements.imageFile = $("#imageFile");
    page.dialogs.elements.wrapperContent = $("section .wrapper .content");
    page.dialogs.elements.imagePreview = $("section .image-preview canvas");
    page.dialogs.elements.canvas = $("#canvas");
    page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
    page.dialogs.elements.imagePreview.css("display", "none");
    page.dialogs.elements.divImagePreview = $("div.image-preview, div.file-name");
    page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");

    page.dialogs.elements.btnCreate.on("click", () => {
        page.dialogs.elements.frmCreate.trigger("submit");
    })

    page.dialogs.elements.btnUpdate.on("click", () => {
        page.dialogs.elements.frmUpdate.trigger("submit");
    })

    page.elements.btnShowCreateModal.on("click", () => {
        page.elements.modalCreate.modal("show");
    });

    page.commands.handleOpenConfirmDelete = () => {
        $(".delete").on("click", function () {

            let productId = $(this).data("id");;

            App.SweetAlert.showSuspendedConfirmDialog()
                .then((result) => {
                    if (result.isConfirmed) {
                        page.dialogs.commands.deactivateProduct(productId);
                    }
                });
        });
    }
    page.dialogs.commands.deactivateProduct = (productId) => {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "DELETE",
            url: page.urls.delete + productId
        })
            .done(() => {
                App.SweetAlert.showAlertSuccess(App.AlertMessageVi.SUCCESS_DEACTIVATE);
                $("#tr_" + productId).remove();
            })
            .fail((jqXHR) => {
                console.log("jqXHR deactivateCustomer ======");
                console.log(jqXHR);

                if (jqXHR.status === 401) {
                    App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_401);
                }

                if (jqXHR.status === 403) {
                    App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_403);
                }
                else {
                    App.IziToast.showErrorAlert("Xóa thất bại");
                }
            });
    }

    page.commands.handleOpenModalUpdate = () => {
        $(".edit").on("click", function (){
            let productId = $(this).data("id");

            page.commands.getProductById(productId).then(() => {
                page.dialogs.elements.nameUp.val(product.name);
                page.dialogs.elements.amountUp.val(product.amount);
                page.dialogs.elements.priceUp.val(product.price);
                page.dialogs.elements.descriptionUp.val(product.description);

                page.elements.modalUpdate.modal("show");
            })
            .catch(() => {
                console.log("get edit fail");
                App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_404);
            });
        })
    }

    page.commands.getAllProducts = () => {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllProducts
        })
        .done((data) => {
            data.map(item => {
                avatar = item.avatar
                page.elements.tbProduct.prepend(App.renderRowProduct(item, avatar));
            });
            page.commands.initTooltip();
            page.commands.handleOpenModalUpdate();
            page.commands.handleOpenConfirmDelete();
        })
        .fail((jqXHR) => {
            App.SweetAlert.showAlertError(App.AlertMessageVi.ERROR_500);
        })
    }

    page.commands.getProductById = (productId) => {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getProductById + "/" + productId
        })
            .done((data) => {
                product = data;
            })
            .fail((jqXHR) => {
                console.log("jqXHR ======");
                console.log(jqXHR);
            });
    }

    //Upload file ảnh

    page.commands.createProduct = () => {
        let formData = new FormData();
        formData.append("name", page.dialogs.elements.nameCre.val().toString());
        formData.append("amount", page.dialogs.elements.amountCre.val().toString());
        formData.append("price", page.dialogs.elements.priceCre.val().toString());
        formData.append("description",  page.dialogs.elements.descriptionCre.val().toString());
        formData.append("file", page.dialogs.elements.imageFile[0].files[0]);
        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.create,
            data: formData
        }).done((data) => {
            page.elements.tbProduct.prepend(App.renderRowProduct(data, data.avatar));

            page.commands.initTooltip();
            page.commands.handleOpenModalUpdate();
            page.commands.handleOpenConfirmDelete();

            App.IziToast.showSuccessAlert("successfully!!")
        }).fail((jqXHR) => {
            App.IziToast.showErrorAlert("ERROR_400");
        });
    }

    page.commands.updateProduct = () => {
        let formData = new FormData();
        formData.append("id",product.id.toString());
        formData.append("name", page.dialogs.elements.nameUp.val().toString());
        formData.append("amount", page.dialogs.elements.amountUp.val().toString());
        formData.append("price", page.dialogs.elements.priceUp.val().toString());
        formData.append("description",  page.dialogs.elements.descriptionUp.val().toString());
        formData.append("file", page.dialogs.elements.imageFile[0].files[0]);
        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.update,
            data: formData
        }).done((data) => {

            let currentRow = $("#tr_" + data.id)
            currentRow.replaceWith(App.renderRowProduct(data, data.avatar));

            page.commands.initTooltip();
            page.commands.handleOpenModalUpdate();
            page.commands.handleOpenConfirmDelete();

            App.IziToast.showSuccessAlert("successfully!!")
            page.elements.modalUpdate.modal('hide');
        }).fail((err) => {
            console.log(err)
            App.IziToast.showErrorAlert("ERROR_400");
        });
    }

    page.dialogs.commands.loadImageToCanvas = (imageFile) => {
        page.dialogs.elements.imagePreview.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.context.canvas.width = imageObj.width;
            page.dialogs.elements.context.canvas.height = imageObj.height;
            page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);
        };

        imageObj.src = URL.createObjectURL(imageFile)
    }

    page.dialogs.commands.changeImagePreview = () => {
        let imageFile = page.dialogs.elements.imageFile[0].files[0];

        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function(e){
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvas(imageFile);
                }
            }
        } else {
            page.dialogs.elements.clearImagePreview();
        }
    }

    page.dialogs.elements.clearImagePreview = () => {
        page.dialogs.elements.imageFile.val("");
        page.dialogs.elements.imagePreview.css("display", "none");
        page.dialogs.elements.wrapper.removeClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 1);
    }

    page.dialogs.elements.frmCreate.validate({
        rules: {
            nameCre: {
                required: true,
                minlength: 5,
                maxlength: 35
            },
            amountCre: {
                required: true,
                min: 1,
            },
            priceCre: {
                required: true,
                min: 1,
            }

        },
        messages: {
            nameCre: {
                required: "Vui lòng nhập tên đầy đủ",
                minlength: "Họ tên tối thiểu 5 ký tự",
                maxlength: "Họ tên tối đa 35 ký tự"
            },
            amountCre:{
                required: "vui lòng nhập số lượng",
                min: "phải nhập số nguyên lớn hơn 0"
            },
            priceCre: {
                required: "vui lòng nhập giá",
                min: "phải nhập số nguyên lớn hơn 0"
            }
        },
        submitHandler: function () {
            page.commands.createProduct();
        }
    })

    page.dialogs.elements.frmUpdate.validate({
        rules: {
            nameUp: {
                required: true,
                minlength: 5,
                maxlength: 35
            },
            amountUp: {
                required: true,
                min: 1,
            },
            priceUp: {
                required: true,
                min: 1,
            }
        },
        messages: {
            nameUp: {
                required: "Vui lòng nhập tên đầy đủ",
                minlength: "Họ tên tối thiểu 5 ký tự",
                maxlength: "Họ tên tối đa 35 ký tự"
            },
            amountUp: {
                required: "vui lòng nhập số lượng",
                min: "phải nhập số nguyên lớn hơn 0"
            },
            priceUp: {
                required: "vui lòng nhập giá",
                min: "phải nhập số nguyên lớn hơn 0"
            }

        },
        submitHandler: function () {
            page.commands.updateProduct();
        }
    })

    page.commands.initTooltip = () => {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    }

    page.elements.modalCreate.on("hidden.bs.modal", function () {
        page.dialogs.elements.frmCreate[0].reset();
        page.dialogs.elements.btnClearImagePreview.trigger("click");
    });
    page.elements.modalUpdate.on("hidden.bs.modal", function () {
        page.dialogs.elements.frmUpdate[0].reset();
        page.dialogs.elements.btnClearImagePreview.trigger("click");
    });

    page.initializeEventControl = () => {
        page.dialogs.elements.divImagePreview.on("click", function () {
            page.dialogs.elements.imageFile.trigger("click");
        });

        page.dialogs.elements.imageFile.on("change", function () {
            page.dialogs.commands.changeImagePreview();
        });
        page.dialogs.elements.btnClearImagePreview.on("click", function () {
            page.dialogs.elements.clearImagePreview();
        });

    }

    page.loadData = () => {
        page.commands.getAllProducts();
    }

    $(() => {
        page.loadData();

        page.initializeEventControl();
    })

</script>
</body>
</html>