<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/izitoast/v1.4.0/iziToast-1.4.0.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container-xxl" >
        <input type="hidden" id="currentRow">
        <h5>Sổ thu chi (không tính doanh thu bán hàng</h5>
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                <div class=" row col-12">
                    <div class="col-4">Tất cả giao dịch </div>
                    <div class="btn col-4">
                        <span>Từ: <input type="date" id="dateFrom" name="dateFrom" ></span>
                    </div>
                    <div class="btn col-4">
                        <span>Đến: <input type="date" id="dateTo" name="dateTo"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1">
                <button id="btnThu" type="button" class="btn btn-success">Thu</button>
                <button id="btnChi" type="button" class="btn btn-danger">Chi</button>
                <button id="btnNo" type="button" class="btn btn-warning">Nợ</button>
                <button id="btnAll" type="button" class="btn btn-light">Tất cả</button>
            </div>
            <div class="col-8 center-scroll bg-light">
                <div class="bg-light body">
                    <table id= "tbCashFlow" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Thời điểm</th>
                            <th scope="col">Thể loại</th>
                            <th scope="col">Diễn giải</th>
                            <th scope="col">Số tiền</th>
                            <th scope="col">Người ghi</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <div class="row col-12 ">
                    <div class="col-4"><button id = "btnShowCreate" type="button" class="btn btn-outline-primary">Thêm</button></div>
                    <div class="col-4"><button id = "btnShowUpdate" type="button" class="btn btn-outline-secondary">Sửa</button></div>
                    <div class="col-4"><button id = "btnShowDelete" type="button" class="btn btn-outline-danger">Xóa</button></div>
                </div>
                <th:block th:replace="/cashFlow/formCreate :: formCreate" />
                <th:block th:replace="/cashFlow/formEdit :: formEdit" />
                <th:block th:replace="/cashFlow/formSuspend :: formSuspend" />
                <br>
                <br>
                <div class="btn-danger hide errorChoice"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                <div class=" row col-12" style="color:red;">
                    <div id="moneyMethodThuDiv" class="col">Thu:
                        <span id="moneyMethodThu"></span>
                    </div>
                    <div id="moneyMethodChiDiv" class="col">Chi:
                        <span id="moneyMethodChi"></span>
                    </div>
                    <div id="moneyMethodNoDiv" class="col">Nợ:
                        <span id="moneyMethodNo"></span>
                    </div>
                    <div id="moneyMethodAllDiv" class="col text-center">Tổng thu chi:
                        <span id="moneyMethodAll"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/bootstrap/v5.2.2/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/izitoast/v1.4.0/iziToast-1.4.0.js"></script>
    <script src="/assets/jquery/jquery-v3.6.0.min.js"></script>
    <script src="/assets/jquery/jquery.validate-v1.19.5.min.js"></script>
    <script src="/assets/js/app.js"></script>

    <script>

        let page = {
            urls: {
                getAllCashFlow: App.BASE_URL_CASH_FLOW,
                getCashFlowById: App.BASE_URL_CASH_FLOW,
                getAllMethod: App.BASE_URL_CASH_FLOW,
                getAllCategory: App.BASE_URL_CASH_FLOW,
                getMoneyMethod: App.BASE_URL_CASH_FLOW,
                create: App.BASE_URL_CASH_FLOW + "/create",
                update: App.BASE_URL_CASH_FLOW + "/update",
                suspend: App.BASE_URL_CASH_FLOW + "/suspend/"
            },
            elements: {},
            loadData: {},
            commands: {},
            dialogs: {
                elements: {},
                loadData: {},
                commands: {},
            },
            initializeEventControl: {}
        }

        let cashFlow = new CashFlow();
        let category = new Category();
        let user = new User();
        let method = new Method();

        page.elements.tbCashFlow = $("#tbCashFlow tbody");
        page.elements.btnShowCreate = $("#btnShowCreate");
        page.elements.btnShowUpdate = $("#btnShowUpdate");
        page.elements.btnShowDelete = $("#btnShowDelete");

        page.elements.btnThu = $("#btnThu");
        page.elements.btnChi = $("#btnChi");
        page.elements.btnNo = $("#btnNo");
        page.elements.btnAll = $("#btnAll");


        page.elements.showCreate = $("#showCreate");
        page.elements.showEdit = $("#showEdit");
        page.elements.showSuspend = $("#showSuspend");

        page.elements.currentRow = $("#currentRow");

        page.dialogs.elements.moneyMethodThu = $("#moneyMethodThu");
        page.dialogs.elements.moneyMethodChi = $("#moneyMethodChi");
        page.dialogs.elements.moneyMethodAll = $("#moneyMethodAll");
        page.dialogs.elements.moneyMethodNo = $("#moneyMethodNo");


        page.dialogs.elements.moneyMethodThuDiv = $("#moneyMethodThuDiv");
        page.dialogs.elements.moneyMethodChiDiv = $("#moneyMethodChiDiv");
        page.dialogs.elements.moneyMethodAllDiv = $("#moneyMethodAllDiv");
        page.dialogs.elements.moneyMethodNoDiv = $("#moneyMethodNoDiv");


        page.dialogs.elements.frmCreate = $("#frmCreate");
        page.dialogs.elements.btnCreate = $("#btnCreate");
        page.dialogs.elements.btnExitCreate = $("#btnExitCreate");
        page.dialogs.elements.methodCreate = $("#methodCreate");
        page.dialogs.elements.categoryCreate = $("#categoryCreate");
        page.dialogs.elements.descriptionCreate = $("#descriptionCreate");
        page.dialogs.elements.moneyCreate = $("#moneyCreate");
        page.dialogs.elements.dateCreate = $("#dateCreate");

        page.dialogs.elements.frmEdit = $("#frmEdit");
        page.dialogs.elements.btnEdit = $("#btnEdit");
        page.dialogs.elements.btnExitEdit = $("#btnExitEdit");
        page.dialogs.elements.methodEdit = $("#methodEdit");
        page.dialogs.elements.categoryEdit = $("#categoryEdit");
        page.dialogs.elements.descriptionEdit = $("#descriptionEdit");
        page.dialogs.elements.moneyEdit = $("#moneyEdit");
        page.dialogs.elements.dateEdit = $("#dateEdit");

        page.dialogs.elements.frmSuspend = $("#frmSuspend");
        page.dialogs.elements.btnSuspend = $("#btnSuspend");
        page.dialogs.elements.btnExitSuspend = $("#btnExitSuspend");
        page.dialogs.elements.methodSuspend = $("#methodSuspend");
        page.dialogs.elements.categorySuspend = $("#categorySuspend");
        page.dialogs.elements.descriptionSuspend = $("#descriptionSuspend");
        page.dialogs.elements.moneySuspend = $("#moneySuspend");
        page.dialogs.elements.dateSuspend = $("#dateSuspend");

        page.commands.getAllCashFlows = () => {
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getAllCashFlow
            })
            .done((data) => {
                data.map(item => {
                    if(item.method.id == 1){
                        page.elements.tbCashFlow.prepend(App.renderRowCashFlow(item, 'blue'))
                    } else if(item.method.id == 2){
                        page.elements.tbCashFlow.prepend(App.renderRowCashFlow(item, 'red'))
                    } else {
                        page.elements.tbCashFlow.prepend(App.renderRowCashFlow(item, 'yellow'))
                    }
                });
                page.commands.getMoneyThu();
                page.commands.getMoneyChi();
                page.commands.getMoneyAll();
                page.commands.getMoneyNo();
                page.commands.handleSelectTr();
                page.dialogs.elements.moneyMethodAllDiv.show();
                page.dialogs.elements.moneyMethodChiDiv.show();
                page.dialogs.elements.moneyMethodThuDiv.show();
                page.dialogs.elements.moneyMethodNoDiv.show();

            })
            .fail((jqXHR) => {
                App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500)
            })
        }

        page.commands.getAllMethod = () =>{
            return $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getAllMethod + "/methods"
            })
                .done((data) => {
                    data.map(item => {
                        let str = `<option value="${item.id}">${item.nameMethod}</option>`;
                        page.dialogs.elements.methodCreate.append(str);
                        page.dialogs.elements.methodEdit.append(str);
                        page.dialogs.elements.methodSuspend.append(str);
                    })
                })
                .fail((jqXHR) => {
                    App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500)
                })
        }

        page.commands.getAllCashFlowThu = () => {
            page.elements.btnThu.on("click", () => {
                page.elements.tbCashFlow.empty();
                return $.ajax({

                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    type: "GET",
                    url: page.urls.getAllMethod + "/cashFlowThus"
                })
                .done((data) => {
                    data.map(item => {
                        page.elements.tbCashFlow.prepend(App.renderRowCashFlow(item, 'blue'))
                    });
                    page.commands.handleSelectTr();
                    page.commands.getMoneyThu();
                    page.dialogs.elements.moneyMethodAllDiv.hide();
                    page.dialogs.elements.moneyMethodChiDiv.hide();
                    page.dialogs.elements.moneyMethodThuDiv.show();
                    page.dialogs.elements.moneyMethodNoDiv.hide();
                })
                .fail((jqXHR) => {
                    App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500)
                })
            })
        }

        page.commands.getAllCashFlowChi = () => {
            page.elements.btnChi.on("click", () => {
                page.elements.tbCashFlow.empty();
                return $.ajax({

                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    type: "GET",
                    url: page.urls.getAllMethod + "/cashFlowChis"
                })
                    .done((data) => {
                        data.map(item => {
                            page.elements.tbCashFlow.prepend(App.renderRowCashFlow(item, 'red'))
                        });
                        page.commands.handleSelectTr();
                        page.commands.getMoneyChi();
                        page.dialogs.elements.moneyMethodAllDiv.hide();
                        page.dialogs.elements.moneyMethodChiDiv.show();
                        page.dialogs.elements.moneyMethodThuDiv.hide();
                        page.dialogs.elements.moneyMethodNoDiv.hide();
                    })
                    .fail((jqXHR) => {
                        App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500)
                    })
            })
        }

        page.commands.getAllCashFlowNo = () => {
            page.elements.btnNo.on("click", () => {
                page.elements.tbCashFlow.empty();
                return $.ajax({

                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    type: "GET",
                    url: page.urls.getAllMethod + "/cashFlowNos"
                })
                    .done((data) => {
                        data.map(item => {
                            page.elements.tbCashFlow.prepend(App.renderRowCashFlow(item, 'yellow'))
                        });
                        page.commands.handleSelectTr();
                        page.commands.getMoneyNo();
                        page.dialogs.elements.moneyMethodAllDiv.hide();
                        page.dialogs.elements.moneyMethodChiDiv.hide();
                        page.dialogs.elements.moneyMethodThuDiv.hide();
                        page.dialogs.elements.moneyMethodNoDiv.show();
                    })
                    .fail((jqXHR) => {
                        App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500)
                    })
            })
        }

        page.commands.getAllCategory = () =>{
            return $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getAllMethod + "/categorys"
            })
                .done((data) => {
                    data.map(item => {
                        let str = `<option value="${item.id}">${item.nameCategory}</option>`;
                        page.dialogs.elements.categoryCreate.append(str);
                        page.dialogs.elements.categoryEdit.append(str);
                        page.dialogs.elements.categorySuspend.append(str);
                    })
                })
                .fail((jqXHR) => {
                    App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500)
                })
        }

        page.commands.getCashFlowById = (cashFlowId) => {
            return $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getCashFlowById + "/" + cashFlowId
            })
                .done((data) => {
                    cashFlow = data;
                })
                .fail((jqXHR) => {
                    console.log("jqXHR ======");
                    console.log(jqXHR);
                });
        }

        page.elements.btnAll.on("click", () =>{
            page.elements.tbCashFlow.empty();
            page.commands.getAllCashFlows();
        })

        page.commands.getMoneyThu = () =>{
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getMoneyMethod + "/" + "getMoneyThu"
            })
            .done((data) => {
                let str = `${new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(data)}`;
                page.dialogs.elements.moneyMethodThu.html(str);
            })
            .fail((jqXHR) => {
                App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500);
            })
        }

        page.commands.getMoneyChi = () =>{
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getMoneyMethod + "/" + "getMoneyChi"
            })
            .done((data) => {
                let str = `${new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(data)}`;
                page.dialogs.elements.moneyMethodChi.html(str);
            })
            .fail((jqXHR) => {
                App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500);
            })
        }

        page.commands.getMoneyAll = () =>{
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getMoneyMethod + "/" + "getMoneyAll"
            })
                .done((data) => {
                    let str = `${new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(data)}`;
                    page.dialogs.elements.moneyMethodAll.html(str);
                })
                .fail((jqXHR) => {
                    App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500);
                })
        }

        page.commands.getMoneyNo = () =>{
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: page.urls.getMoneyMethod + "/" + "getMoneyNo"
            })
            .done((data) => {
                let str = `${new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(data)}`;
                page.dialogs.elements.moneyMethodNo.html(str);
            })
            .fail((jqXHR) => {
                App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_500);
            })
        }

        page.elements.btnShowCreate.on("click", () => {
            page.elements.showCreate.show();
            page.elements.showEdit.hide();
            page.elements.showSuspend.hide();
        })

        page.dialogs.elements.btnCreate.on("click", () => {
            page.dialogs.elements.frmCreate.trigger("submit");
        })

        page.dialogs.elements.btnEdit.on("click", () => {
            page.dialogs.elements.frmEdit.trigger("submit");
        })

        page.dialogs.elements.btnSuspend.on("click", () => {
            let cashFlowId = page.elements.currentRow.val();
            page.commands.suspendCashFlow(cashFlowId);
            page.elements.showSuspend.hide();
        })

        page.dialogs.elements.btnExitCreate.on("click", () => {
            page.dialogs.elements.frmCreate[0].reset();
            page.dialogs.elements.frmCreate.validate().resetForm();
            page.elements.showCreate.hide();
            $(".errorChoice").empty();
        })

        page.dialogs.elements.btnExitEdit.on("click", () => {
            page.dialogs.elements.frmEdit[0].reset();
            page.dialogs.elements.frmEdit.validate().resetForm();
            page.elements.showEdit.hide();
            $(".errorChoice").empty();
        })

        page.dialogs.elements.btnExitSuspend.on("click", () => {
            page.dialogs.elements.frmSuspend[0].reset();
            page.elements.showSuspend.hide();
        })

        page.commands.createCashFlow = () => {
            user.id = 1;

            category.id = page.dialogs.elements.categoryCreate.val();
            category.nameCategory = page.dialogs.elements.categoryCreate.find("option:selected").text();

            method.id = page.dialogs.elements.methodCreate.val();
            method.nameMethod = page.dialogs.elements.methodCreate.find("option:selected").text();

            cashFlow.id = 0;
            cashFlow.method = method;
            cashFlow.time = page.dialogs.elements.dateCreate.val();
            cashFlow.category= category;
            cashFlow.amountMoney = page.dialogs.elements.moneyCreate.val();
            cashFlow.description = page.dialogs.elements.descriptionCreate.val();
            cashFlow.user= user;
            console.log(cashFlow);
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.create,
                data: JSON.stringify(cashFlow)
            })
            .done((data) => {
                cashFlow = data;
                if(cashFlow.method.id == 1){
                    page.elements.tbCashFlow.prepend(App.renderRowCashFlow(cashFlow, 'blue'));
                } else if(cashFlow.method.id == 2){
                    page.elements.tbCashFlow.prepend(App.renderRowCashFlow(cashFlow, 'red'));
                } else {
                    page.elements.tbCashFlow.prepend(App.renderRowCashFlow(cashFlow, 'yellow'));
                }
                page.commands.handleSelectTr();
                App.IziToast.showSuccessAlert(App.AlertMessageVi.SUCCESS_CREATED);
                $(".errorChoice").empty();
                page.commands.getMoneyThu();
                page.commands.getMoneyChi();
                page.commands.getMoneyAll();
                page.commands.getMoneyNo();
            })
            .fail((jqXHR) => {

                $(".errorChoice").empty();
                let str ="";
                let message = jqXHR.responseJSON.message;
                if(message){
                    str += `<label id="mesaageCreate-error" class="error" for="mesaageCreat">${message}</label>`;
                }
                else {
                    let errors = jqXHR.responseJSON;
                    $.each(errors, (key, value) => {
                        str +=`<lable id="${key}Create-error" class="error" for="${key}Create">${value}</lable>`;
                    })
                }
                $(".errorChoice").append(str).removeClass("hide").addClass("show");
            })
        }

        page.elements.handleShowEdit = () => {
            page.elements.btnShowUpdate.on("click", () => {
                let cashFlowId = page.elements.currentRow.val();
                page.commands.getCashFlowById(cashFlowId).then(() => {
                    page.dialogs.elements.dateEdit.val(new Date(cashFlow.time).toString().slice(0, 10));
                    page.dialogs.elements.descriptionEdit.val(cashFlow.description);
                    page.dialogs.elements.moneyEdit.val(cashFlow.amountMoney);
                    page.dialogs.elements.categoryEdit.val(cashFlow.category.id);
                    page.dialogs.elements.methodEdit.val(cashFlow.method.id);
                    page.elements.showEdit.show();
                    page.elements.showCreate.hide();
                    page.elements.showSuspend.hide();
                })
                    .catch(() => {
                        console.log("get edit fail");
                        App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_404);
                    })
            })
        }

        page.elements.handleShowSuspend = () => {
            page.elements.btnShowDelete.on("click", () => {
                let cashFlowId = page.elements.currentRow.val();
                page.commands.getCashFlowById(cashFlowId).then(() => {
                    page.dialogs.elements.dateSuspend.val(cashFlow.time);
                    page.dialogs.elements.descriptionSuspend.val(cashFlow.description);
                    page.dialogs.elements.moneySuspend.val(cashFlow.amountMoney);
                    page.dialogs.elements.categorySuspend.val(cashFlow.category.id);
                    page.dialogs.elements.methodSuspend.val(cashFlow.method.id);
                    page.elements.showSuspend.show();
                    page.elements.showEdit.hide();
                    page.elements.showCreate.hide();
                })
                    .catch(() => {
                        console.log("get edit fail");
                        App.IziToast.showErrorAlert(App.AlertMessageVi.ERROR_404);
                    })
            })
        }

        page.commands.handleSelectTr = () =>{
            $("#tbCashFlow tbody tr").on("click", function() {
                let cashFlowId = $(this).attr("id").replace("tr_","");
                page.elements.currentRow.val(cashFlowId);

                $("#tbCashFlow tbody tr td .select-tab").removeClass("selected").addClass("unselected");
                $(this).find("td .select-tab").removeClass("unselected").addClass("selected");

                page.elements.handleShowEdit();
                page.elements.handleShowSuspend();
            })
        }

        page.commands.editCashFlow = () => {
            user.id = 1;

            category.id = page.dialogs.elements.categoryEdit.val();
            category.nameCategory = page.dialogs.elements.categoryEdit.find("option:selected").text();

            method.id = page.dialogs.elements.methodEdit.val();
            method.nameMethod = page.dialogs.elements.methodEdit.find("option:selected").text();

            cashFlow.id = page.elements.currentRow.val();
            cashFlow.method = method;
            cashFlow.time = page.dialogs.elements.dateEdit.val();
            cashFlow.category= category;
            cashFlow.amountMoney = page.dialogs.elements.moneyEdit.val();
            cashFlow.description = page.dialogs.elements.descriptionEdit.val();
            cashFlow.user= user;
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "POST",
                url: page.urls.update,
                data: JSON.stringify(cashFlow)
            })
                .done((data) => {
                    let currentRow = $("#tr_" + data.id);
                    cashFlow = data;
                    if(cashFlow.method.id == 1){
                        currentRow.replaceWith(App.renderRowCashFlow(cashFlow, 'blue'));
                    } else if(cashFlow.method.id == 2){
                        currentRow.replaceWith(App.renderRowCashFlow(cashFlow, 'red'));
                    } else {
                        currentRow.replaceWith(App.renderRowCashFlow(cashFlow, 'yellow'));
                    }
                    App.IziToast.showSuccessAlert(App.AlertMessageVi.SUCCESS_UPDATED);
                    page.elements.showEdit.hide();
                    $(".errorChoice").empty();
                    page.commands.handleSelectTr();
                    page.commands.getMoneyThu();
                    page.commands.getMoneyChi();
                    page.commands.getMoneyAll();
                    page.commands.getMoneyNo();
                })
                .fail((jqXHR) => {
                    $(".errorChoice").empty();
                    let str ="";
                    let message = jqXHR.responseJSON.message;
                    if(message){
                        str += `<label id="mesaageEdit-error" class="error" for="mesaageEdit">${message}</label>`;
                    }
                    else {
                        let errors = jqXHR.responseJSON;
                        $.each(errors, (key, value) => {
                            str +=`<lable id="${key}Edit-error" class="error" for="${key}Edit">${value}</lable>`;
                        })
                    }
                    $(".errorChoice").append(str).removeClass("hide").addClass("show");
                })
        }

        page.commands.suspendCashFlow = (cashFlowId) => {
            $.ajax({
                headers: {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                type: "DELETE",
                url: page.urls.suspend + cashFlowId
            })
                .done(() => {
                     $("#tr_" + cashFlowId).remove();
                    App.IziToast.showSuccessAlert(App.AlertMessageVi.SUCCESS_DEACTIVATE);
                    page.elements.showSuspend.hide();
                    page.commands.getMoneyThu();
                    page.commands.getMoneyChi();
                    page.commands.getMoneyAll();
                    page.commands.getMoneyNo();

                })
                .fail((jqXHR) => {
                    App.IziToast.showErrorAlert((App.AlertMessageVi.ERROR_400));
                })
        }

        page.dialogs.elements.frmCreate.validate({
            rules: {
                descriptionCreate: {
                    required: true,
                    minlength: 2,
                    maxlength: 50
                },
                moneyCreate: {
                    required: true,
                    min: 1000
                },
                dateCreate: {
                    required: true
                }
            },
            messages: {
                descriptionCreate: {
                    required: "Vui lòng ghi nội dung",
                    minlength: "Nhập tối thiểu 2 ký tự",
                    maxlength: "Nhập tối đa 50 ký tự"
                },
                moneyCreate: {
                    required: "Vui lòng nhập số tiền",
                    min: "Giá trị lớn hơn 1000vnd"
                },
                dateCreate: {
                    required: "Ngày không được để trống"
                }
            },

            // errorLabelContainer: ".errorChoice",
            // errorPlacement: function (error, element) {
            //     error.appendTo(".errorChoice");
            // },
            // showErrors: function(errorMap, errorList) {
            //     if (this.numberOfInvalids() > 0) {
            //         $(".errorChoice").removeClass("hide").addClass("show");
            //     } else {
            //         $(".errorChoice").removeClass("show").addClass("hide").empty();
            //         $("#frmCreate input.error").removeClass("error");
            //     }
            //     this.defaultShowErrors();
            // },

            submitHandler: function () {
                page.commands.createCashFlow();
            }
        })

        page.dialogs.elements.frmEdit.validate({
            rules: {
                descriptionEdit: {
                    required: true,
                    minlength: 2,
                    maxlength: 50
                },
                moneyEdit: {
                    required: true,
                    min: 1000
                },
                dateEdit: {
                    required: true
                }
            },
            messages: {
                descriptionEdit: {
                    required: "Vui lòng nhập tên đầy đủ",
                    minlength: "Họ tên tối thiểu 2 ký tự",
                    maxlength: "Họ tên tối đa 50 ký tự"
                },
                moneyEdit: {
                    required: "Vui lòng nhập số tiền",
                    min: "Giá trị lớn hơn 1000vnd"
                },
                dateEdit: {
                    required: "Ngày không được để trống"
                }
            },
            submitHandler: function () {
                page.commands.editCashFlow();
            }
        })

        page.loadData = () => {
            page.commands.getAllCashFlows();
            page.commands.getAllMethod();
            page.commands.getAllCategory();
            page.commands.getAllCashFlowThu();
            page.commands.getAllCashFlowChi();
            page.commands.getAllCashFlowNo();
        }

        $(() => {
            page.loadData();
        })
        page.elements.showEdit.hide();
        page.elements.showCreate.hide();
        page.elements.showSuspend.hide();
    </script>
</body>
</html>