<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="shortcut icon" href="/assets/social-linkedin-box-white-icon.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>customers</title>
  <link rel="stylesheet" href="/assets/bootstrap-5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap-5.2.0/css/all.min.css">
  <style>
      .row {
          height: 100px;
          padding: 20px;
          margin-left: 0;
          margin-right: 0;
      }

      .row>div>h1 {
          color: white;
      }

      .row>div>a {
          margin-top: 10px;
          margin-bottom: 10px;
      }

      .button-head , .button-main{
          text-align: end;
      }

      thead {
          background-color: rgb(10, 141, 21);
          text-align: center;
          color: white;
      }

      .button-main > button {
          margin-left: 10px;
      }
  </style>
</head>

<body>
  <div class="container">
    <div class="row bg-primary">
      <div class="col-6">
        <h1>List of customers</h1>
      </div>
      <div class="col-6 button-head">
        <a  href="/transferInformation" type="button" class="btn btn-outline-light"><i class="fa-solid fa-clock-rotate-left"></i> Transfer money
          Information</a>
        <button id="btnShowCreateModal" class="btn btn-outline-light">
          <i class="fas fa-plus"></i>
          <span>Add New Customer</span>
        </button>
      </div>
    </div>
    <div class="main-body">
      <table class="table table-hover" id="tbCustomer">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Balance</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <th:block th:each="customer : ${customers}">
          <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.fullName}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.balance}"></td>
            <td class="button-main">
              <a th:href="@{/edit-customer/__${customer.id}__}"
               type="button" class="btn btn-outline-secondary" title="Edit" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content" ><i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a th:href="@{/deposit-customer/__${customer.id}__}"
               type="button" class="btn btn-outline-success" title="Deposit" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content"><i class="fa-solid fa-plus"></i>
            </a>
            <a th:href="@{/withdraw-customer/__${customer.id}__}"
               type="button" class="btn btn-outline-warning" title="Withdraw" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content"><i class="fa-solid fa-minus"></i>
            </a>
            <a th:href="@{/transfer-customer/__${customer.id}__}"
               type="button" class="btn btn-outline-primary" title="Transfer" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
            </a>
            <a th:href="@{/suspended-customer/__${customer.id}__}"
               type="button" class="btn btn-outline-danger" title="Suspended" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content"><i class="fa-solid fa-ban"></i>
            </a>
            </td>
          </tr>
        </th:block>
        </tbody>
      </table>
    </div>
  </div>
  <script src="/assets/bootstrap-5.2.0/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/jquery/jquery-3.6.1.min.js"></script>
  <script src="/assets/jquery/jquery.validate-v1.19.5.min.js"></script>
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>
  <th:block th:replace="customer/modal_create"></th:block>
<script>
  $("#btnShowCreateModal").on("click",() =>{
    $("#modalCreate").modal("show");
  });

$("#btnCreate").on("click",() => {
  $("#frmCreate").trigger("submit");
})

  function createCustomer() {
    let customer = {
      fullName: $("#fullName").val(),
      email: $("#email").val(),
      phone: $("#phone").val(),
      address: $("#address").val(),
    }
    $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "POST",
      url: "http://localhost:8080/api/customers/create",
      data: JSON.stringify(customer)
    })
    .done((data) => {
      console.log(data);
      let str = `
          <tr>
          <td >${data.id}</td>
          <td >${data.fullName}</td>
          <td >${data.email}</td>
          <td >${data.phone}</td>
          <td >${data.address}</td>
          <td >${data.balance}</td>
          <td class="button-main">
            <a href="@{/edit-customer/__${data.id}__}"
             type="button" class="btn btn-outline-secondary" title="Edit" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content" ><i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a href="@{/deposit-customer/__${data.id}__}"
             type="button" class="btn btn-outline-success" title="Deposit" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content"><i class="fa-solid fa-plus"></i>
          </a>
          <a href="@{/withdraw-customer/__${data.id}__}"
             type="button" class="btn btn-outline-warning" title="Withdraw" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content"><i class="fa-solid fa-minus"></i>
          </a>
          <a href="@{/transfer-customer/__${data.id}__}"
             type="button" class="btn btn-outline-primary" title="Transfer" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
          </a>
          <a href="@{/suspended-customer/__${data.id}__}"
             type="button" class="btn btn-outline-danger" title="Suspended" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-content="Content"><i class="fa-solid fa-ban"></i>
          </a>
          </td>
          </tr>
      `;
      $("#tbCustomer tbody").prepend(str);
      $("#modalCreate").modal("hide");
    })
    .fail((jqXHR) => {
      alert("Create Fail");
    })
  }
        $("#frmCreate").validate({
          rules: {
            fullName: {
              required: true,
              minlength: 5,
              maxlength: 35
            }
          },
          messages: {
            fullName: {
              required: "Vui lòng nhập tên đầy đủ",
              minlength: "Họ tên tối thiểu 5 ký tự",
              maxlength: "Họ tên tối đa 35 ký tự"
            }
          },
          submitHandler: function () {
            createCustomer();
          }
        })
</script>
</body>

</html>